<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AddressCoding.Properties.BDSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AddressCoding.Properties.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AddressCoding.Properties.RepositorySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AddressCoding.Properties.FileSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xaml.Behaviors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SearchAddress" maxReceivedMessageSize="1500000" sendTimeout="00:5:00" receiveTimeout="00:5:00" openTimeout="00:5:00" closeTimeout="00:5:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      
      <endpoint binding="basicHttpBinding" bindingConfiguration="SearchAddress" contract="Orpon.wsSearchAddrElByFullNamePortType2" name="Orpon" />

      <endpoint binding="basicHttpBinding" bindingConfiguration="SearchAddress" contract="Orpon1.wsSearchAddrElByFullNamePortType" name="Orpon1" />
    </client>
  </system.serviceModel>
  <userSettings>
    <AddressCoding.Properties.BDSettings>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="BDName" serializeAs="String">
        <value />
      </setting>
      <setting name="Port" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </AddressCoding.Properties.BDSettings>
    <AddressCoding.Properties.GeneralSettings>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
      <setting name="CanSaveDataAsShot" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CanSaveDataAsFull" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CanOpenFolderAfter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SeparatorChar" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="CanUseParsinglevelRus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CanSaveFileWhithSelectedField" serializeAs="String">
        <value>False</value>
      </setting>
    </AddressCoding.Properties.GeneralSettings>
    <AddressCoding.Properties.RepositorySettings>
      <setting name="AddressRepository" serializeAs="String">
        <value />
      </setting>
      <setting name="NameEndpointRepository" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxObj" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MaxParallelism" serializeAs="String">
        <value>4</value>
      </setting>
    </AddressCoding.Properties.RepositorySettings>
    <AddressCoding.Properties.FileSettings>
      <setting name="CanBreakFileOutput" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxSizePart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CanUseAnsi" serializeAs="String">
        <value>False</value>
      </setting>
    </AddressCoding.Properties.FileSettings>
  </userSettings>
</configuration>
