<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AddressCoding.Properties.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AddressCoding.Properties.RepositorySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AddressCoding.Properties.FileSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SearchAddress" maxReceivedMessageSize="1000000" sendTimeout="00:5:00" receiveTimeout="00:5:00" openTimeout="00:5:00" closeTimeout="00:5:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="SearchAddress"
          contract="Orpon.wsSearchAddrElByFullNamePortType" name="Orpon" />
    </client>
  </system.serviceModel>
  <userSettings>
    <AddressCoding.Properties.GeneralSettings>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
    </AddressCoding.Properties.GeneralSettings>
    <AddressCoding.Properties.RepositorySettings>
      <setting name="AddressRepository" serializeAs="String">
        <value />
      </setting>
      <setting name="NameEndpointRepository" serializeAs="String">
        <value />
      </setting>
    </AddressCoding.Properties.RepositorySettings>
    <AddressCoding.Properties.FileSettings>
      <setting name="CanBreakFileOutput" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxSizePart" serializeAs="String">
        <value>0</value>
      </setting>
    </AddressCoding.Properties.FileSettings>
  </userSettings>
</configuration>